{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="text-light pt-5 pb-5" style="
  background: url('{% static 'images/concert.jpg' %}') center/cover no-repeat; 
  background-color: rgba(0, 0, 0, 0.75); 
  background-blend-mode: overlay; 
  min-height: 100vh;">

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Time To Rock!</h1>
        <p class="lead">Concert of Rock July 2026</p>
        <hr class="my-4">
    </div>
</div>

  
  <div class="container h-100 d-flex flex-column justify-content-center align-items-center text-center">
    <h1 class="display-3 logo-font mb-3 text-warning animate__animated animate__fadeInDown">
      <strong>ROCKARIA</strong>
    </h1>
    
    <p class="fs-4 fw-light text-warning">A Unique Outdoor Rock Event</p>
    
    <p class="lead text-warning mt-3 mb-4 animate__animated animate__fadeInUp animate__delay-05s">
      All Tickets £25.00!
    </p>

    <p class="lead mb-4 bg-warning text-dark p-3 rounded animate__animated animate__fadeInUp">
      Towneley Park Burnley • July 26
    </p>

    <div class="my-4 animate__animated animate__fadeInUp animate__delay-1s">
      <a href="{% url 'bands:band_list' %}" class="btn btn-lg btn-warning rounded-pill text-uppercase py-3 px-4 me-3">Our Bands</a>
      <a href="{% url 'bands:concert_list' %}" class="btn btn-lg btn-warning rounded-pill text-uppercase py-3 px-4">Concert</a>
    </div>
  </div>
</section>
{% endblock %}